@model IEnumerable<MVCPrinciples.Models.Product>

@{
    List<Category> categories = (ViewBag.Categories != null ? ViewBag.Categories : null) ?? throw new InvalidOperationException();
    List<Supplier> suppliers = (ViewBag.Suppliers != null ? ViewBag.Suppliers : null) ?? throw new InvalidOperationException();
}

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Product Id
            </th>
            <th>
                Product name
            </th>
            <th>
                Supplier
            </th>
            <th>
                Category
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>        
            <th>
                @Html.DisplayFor(modelItem => item.ProductID)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => suppliers[item.SupplierId - 1].CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => categories[item.CategoryId - 1].CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
